{% extends "plantilla.twig" %}

{% block title %}Crear producto
{% endblock %}
{% block main %}
	<h3>Crea un producto</h3>
	<a href="productos">Atras</a>
	<form action="guardar-producto" method="post">
		<label for="nombre">Nombre:</label>
		<input type="text" name="nombre" id="nombre">
		<label for="descripcion">Descripcion:</label>
		<input type="text" name="descripcion" id="descripcion">
		<label for="precio">Precio:</label>
		<input type="number" name="precio" id="precio">
		<label for="stock">Stock:</label>
		<input type="number" name="stock" id="stock">
		<button type="submit" class="boton-formulario">Crear</button>
	</form>
{% endblock %}
