{% extends "plantilla.twig" %}

{% block title %}Crear producto
{% endblock %}

{% block main %}
	<div class="container mt-4">
		<h3>Crea un producto</h3>
		<a href="productos" class="btn btn-secondary mb-3">Atrás</a>

		<form action="guardar-producto" method="post">
			<div class="mb-3">
				<label for="nombre" class="form-label">Nombre:</label>
				<input type="text" name="nombre" id="nombre" class="form-control">
			</div>
			<div class="mb-3">
				<label for="descripcion" class="form-label">Descripción:</label>
				<input type="text" name="descripcion" id="descripcion" class="form-control">
			</div>
			<div class="mb-3">
				<label for="precio" class="form-label">Precio:</label>
				<input type="number" name="precio" id="precio" class="form-control">
			</div>
			<div class="mb-3">
				<label for="stock" class="form-label">Stock:</label>
				<input type="number" name="stock" id="stock" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">Crear</button>
		</form>
	</div>
{% endblock %}
