{% extends "plantilla.twig" %}

{% block title %}Crear pedido
{% endblock %}
{% block main %}
	<h3>Crea un pedido</h3>
	<a href="pedidos">Atras</a>
	<form action="guardar-pedido" method="post">
		<label for="fecha">Fecha:</label>
		<input type="date" name="fecha" id="fecha">
		<label for="id_cliente">Idcliente:</label>
		<input type="number" name="id_cliente" id="id_cliente">
		<label for="direccion_entrega">Direccion entrega:</label>
		<input type="text" name="direccion_entrega" id="direccion_entrega">
		<label for="total">Total:</label>
		<input type="number" name="total" id="total">
		<button type="submit" class="boton-formulario">Crear</button>
	</form>
{% endblock %}
