{% extends "plantilla.twig" %}

{% block title %}Crear pedido
{% endblock %}

{% block main %}
	<div class="container mt-4">
		<h3>Crea un pedido</h3>
		<a href="pedidos" class="btn btn-secondary mb-3">Atrás</a>

		<form action="guardar-pedido" method="post">
			<div class="mb-3">
				<label for="fecha" class="form-label">Fecha:</label>
				<input type="date" name="fecha" id="fecha" class="form-control">
			</div>
			<div class="mb-3">
				<label for="id_cliente" class="form-label">Id Cliente:</label>
				<input type="number" name="id_cliente" id="id_cliente" class="form-control">
			</div>
			<div class="mb-3">
				<label for="direccion_entrega" class="form-label">Dirección entrega:</label>
				<input type="text" name="direccion_entrega" id="direccion_entrega" class="form-control">
			</div>
			<div class="mb-3">
				<label for="total" class="form-label">Total:</label>
				<input type="number" name="total" id="total" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">Crear</button>
		</form>
	</div>
{% endblock %}
