<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tienda de ordenadores</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
	</head>
	<body>
		<main class="container mt-4">
			<div>
				<h3 id="titulo-bienvenida">Bienvenido a la Tienda de ordenadores</h3>
				<div id="contenedor-bienvenida" class="row">
					<div class="col-md-4">
						<a class="btn btn-primary btn-lg btn-block enlaces-bienvenida" href="{{URL}}index/productos">Productos</a>
					</div>
					<div class="col-md-4">
						<a class="btn btn-primary btn-lg btn-block enlaces-bienvenida" href="{{URL}}index/clientes">Clientes</a>
					</div>
					<div class="col-md-4">
						<a class="btn btn-primary btn-lg btn-block enlaces-bienvenida" href="{{URL}}index/pedidos">Pedidos</a>
					</div>
				</div>
			</div>
		</main>

		<!-- Bootstrap JavaScript dependencies (you may need to include jQuery and Popper.js based on your needs) -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEX/QpK9GOaMlxa5mEZfsV6/7tTZYDZ1ku6ID" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyFZ00LZ5Pn5JJfzoI4qfCKIepJfa/nbX" crossorigin="anonymous"></script>
	</body>
</html>
