<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
		<link rel="”stylesheet”" href="”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow”" integrity="”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I”" crossorigin="”anonymous”">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="http://localhost:8081/23-24/DWES/Practica%20Twig%202/">Inicio</a></li>
				<li><a href="http://localhost:8081/23-24/DWES/Practica%20Twig%202/index/productos">Productos</a></li>
				<li><a href="http://localhost:8081/23-24/DWES/Practica%20Twig%202/index/clientes">Clientes</a></li>
				<li><a href="http://localhost:8081/23-24/DWES/Practica%20Twig%202/index/pedidos">Pedidos</a></li>
			</ul>
		</nav>
		<main>
			{% block main %}{% endblock %}
		</main>
	</body>
</html>
